.weather {
  &__days {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    ul,
    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  &__day {
    position: relative;
    li {
      position: relative;
    }
  }

  &__details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      text-align: left;
      width: 100%;
    }
  }
}
